---
layout: base.njk
---
<div class="pt-4">
  <div class="mx-auto max-w-3xl px-5 py-12">
    <article class="prose prose-slate max-w-none dark:prose-invert">
      {{ content | safe }}
    </article>
  </div>
</div>
