---
import Section from "../Section.astro";
import WorkExperienceBox from "../WorkExperienceBox.astro";
const { aboutMe, workExperiences, volunteeringExperiences } = Astro.props;
---

<Section styles="p-1 " ids="about">
  <div
    class="flex min-h-[75vh] w-full basis-0 flex-col items-center gap-1 md:flex-row md:justify-between md:gap-[5rem]"
  >
    <div class="w-[100%] p-5 md:w-[55%]">
      <div class="">
        <h3
          class="text-highlight text-[4rem] font-bold leading-[4rem] md:text-[6rem] md:leading-[8rem]"
        >
          About Me
        </h3>
        <p
          class="mb-5 mt-5 text-justify leading-6 text-slate-700 md:mt-8 md:text-2xl md:leading-7"
        >
          {aboutMe}
        </p>
        <p
          class="mb-5 mt-5 text-justify leading-6 text-slate-700 md:mt-8 md:text-2xl md:leading-7"
        >
          Read some highlights of my experience or <a
            class="underline underline-offset-8"
            href="/RaulPineda_Resume.pdf"
            rel="nofollow"
            target="_blank">download my resume</a
          >.
        </p>
      </div>
    </div>
    <div class="flex w-[100%] flex-col justify-start gap-5 md:mr-5 md:w-[40%]">
      <h3 class="text-highlight ml-4 font-semibold uppercase text-slate-600">
        Work Experience
      </h3>
      <WorkExperienceBox workExperiences={workExperiences} />
      <h3 class="text-highlight ml-4 font-semibold uppercase text-slate-600">
        Volunteering Experience
      </h3>
      <WorkExperienceBox workExperiences={volunteeringExperiences} />
    </div>
  </div>
</Section>
