---
const { skill } = Astro.props;
---

<span
  class="mx-2 flex min-w-[60px] items-center justify-center rounded-full bg-slate-100 p-2 md:p-3"
>
  <span class="text-xs font-semibold">{skill}</span>
</span>
