.AboutMe {
  display: flex;
  flex: 0 0 75%;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: row;
  }
  &__picture {
    flex: 0 0 auto;
  }

  &__greeting {
    margin: 0 0 0 2.4rem;
    font-size: 12rem;
    font-family: "Paytone One", sans-serif;
    flex: 1 0 auto;
    color: #111;

    &--highlight {
      background: linear-gradient(
        180deg,
        #111 0%,
        #111 64%,
        #00eab7 65%,
        #00eab7 100%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__description {
    font-size: 2rem;
    text-align: justify;
  }

  &__subtitle {
    font-size: 2.4rem;
    font-weight: bold;
    color: #00eab7;
  }

  &__footer {
    margin-top: auto;
    justify-content: center;
    display: flex;
    font-size: 1.4rem;
    line-height: 1.8rem;

    svg.github {
      height: 1.8rem;
      width: 1.8rem;
      vertical-align: baseline;
      display: inline-block;
      fill: red;
    }
  }
}
