.Collapsible {
  &:not(&__root) .expand::before {
    color: #777;
    content: "[+]";
    left: -3.6rem;
    position: absolute;
  }

  &:not(&__root) .collapse::before {
    color: #777;
    content: "[-]";
    left: -3.6rem;
    position: absolute;
  }

  &:not(&__root):hover {
    cursor: pointer;
    font-weight: bold;
  }

  &__child {
    display: block;
    padding: 0.3rem 0 0.3rem 2rem;
  }
}
