---
import "@fontsource/monaspace-argon/200.css";
import "@fontsource/monaspace-argon/300.css";
import "@fontsource/monaspace-argon/400.css";
import "@fontsource/monaspace-argon/500.css";
import "@fontsource/monaspace-argon/600.css";
import "@fontsource/monaspace-argon/700.css";
import "@fontsource/monaspace-argon/800.css";
import "../styles/styles.css";
import { ClientRouter } from "astro:transitions";

const { siteDescription, siteTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={siteDescription} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{siteTitle}</title>
    <ClientRouter />
  </head>
  <body>
    <slot />
  </body>
</html>
