<div class="group flex w-full cursor-pointer flex-col border-b-2 p-5 text-slate-500 transition duration-300 hover:border-black hover:text-black">
  <div class="flex items-center justify-between">
    <div class="flex flex-col gap-1 text-highlight">
      {% if exp.icon %}{% icon exp.icon, 32 %}{% endif %}
      <span class="font-bold">{{ exp.organisationName }}</span>
      {% if exp.position %}
      <span class="text-xs font-light text-slate-600">{{ exp.position }}</span>
      {% endif %}
    </div>
    <span class="text-sm font-light text-slate-600 group-hover:text-black">{{ exp.date }}</span>
  </div>
  {% if exp.info.length > 0 %}
  <ul class="ml-3 mt-1 list-disc p-2">
    {% for item in exp.info %}
    <li>{{ item }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if exp.skills.length > 0 %}
  <div class="flex flex-wrap gap-1 pl-2">
    {% for skill in exp.skills %}
    <span class="mx-2 flex min-w-[60px] items-center justify-center rounded-full bg-slate-100 p-2 md:p-3">
      <span class="text-xs font-semibold">{{ skill }}</span>
    </span>
    {% endfor %}
  </div>
  {% endif %}
</div>
